<div class="container-fluid p-0">
  <div class="row g-0 align-items-center" style="min-height: 100vh;">
    <!-- Left Image Background Section -->
    <div class="col-md-6 d-none d-md-flex bg-image" style="background-image: url('<%= asset_path('domenico-loia-hGV2TfOh0ns-unsplash.jpg') %>'); background-size: cover; background-position: center; height: 100vh;">
    </div>
    
    <!-- Right Form Section -->
    <div class="col-md-6 col-12 d-flex justify-content-center">
      <div class="card p-4 card-border-shadow" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">Sign up</h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
          <!-- Display Error Messages -->
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: 'form-label' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="d-grid mb-3">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>