<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <%= link_to 'Soukqi', root_path, class: 'navbar-brand logo-text' %>

    <!-- Navbar toggler (for mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links on the right -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Profile', profile_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
          </li>
          <li class="nav-item ms-3">
            <% if current_user.profile.image_profile.attached? %>
              <%= image_tag(current_user.profile.image_profile.variant(resize_to_limit: [40, 40]), alt: 'Profile Image', class: 'rounded-circle') %>
            <% else %>
              <%= image_tag('default_profile.png', alt: 'Default Profile Image', class: 'rounded-circle', width: '40') %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Signin', user_session_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>