<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to app_name, root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-lg-flex align-items-center">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        
        <!-- Profile dropdown -->
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.profile.image_profile.attached? %>
              <%= image_tag(current_user.profile.image_profile.variant(resize_to_limit: [40, 40]), alt: 'Profile Image', class: 'rounded-circle') %>
            <% else %>
              <%= image_tag('default_profile.png', alt: 'Default Profile Image', class: 'rounded-circle', width: '40') %>
            <% end %>
          </a>

          <!-- Dropdown menu -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
              <%= link_to 'Edit Profile', edit_profile_path(current_user), class: 'dropdown-item' %>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { "turbo-method": "delete", turbo: false } %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
