<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="accordion" id="sidebarAccordion">

    <!-- Dashboard and Account Settings -->
    <div class="accordion-item">
      <div class="accordion-body p-0">
        <div class="list-group">
          <%= link_to dashboard_path, class: 'list-group-item list-group-item-action active' do %>
            <i class="bi bi-speedometer2"></i> Dashboard
          <% end %>
          <%= link_to edit_user_registration_path, class: 'list-group-item list-group-item-action' do %>
            <i class="bi bi-gear"></i> Account Settings
          <% end %>
        </div>
      </div>
    </div>

    <!-- Companies Section -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCompanies">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompanies" aria-expanded="false" aria-controls="collapseCompanies">
          <i class="bi bi-building"></i> Companies
        </button>
      </h2>
      <div id="collapseCompanies" class="accordion-collapse collapse" aria-labelledby="headingCompanies" data-bs-parent="#sidebarAccordion">
        <div class="accordion-body p-0">
          <div class="list-group">
            <%= link_to 'View Companies', companies_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Add Company', new_company_path, class: 'list-group-item list-group-item-action' %>
          </div>
        </div>
      </div>
    </div>


<!-- Job Listings Section -->
<!-- Job Listings Section -->
<div class="accordion-item">
  <h2 class="accordion-header" id="headingJobs">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJobs" aria-expanded="false" aria-controls="collapseJobs">
      <i class="bi bi-briefcase"></i> Job Listings
    </button>
  </h2>
  <div id="collapseJobs" class="accordion-collapse collapse" aria-labelledby="headingJobs" data-bs-parent="#sidebarAccordion">
    <div class="accordion-body p-0">
      <div class="list-group">
        <% if current_user.companies.exists? %>
          <!-- If companies exist, use the correct links -->
          <%= link_to 'View Job Listings', company_job_listings_path(current_user.companies.first), class: 'list-group-item list-group-item-action' %>
          <%= link_to 'Add Job Listing', new_company_job_listing_path(current_user.companies.first), class: 'list-group-item list-group-item-action' %>
        <% else %>
          <!-- If no companies exist, display links but trigger a JS alert -->
          <%= link_to '#', class: 'list-group-item list-group-item-action', onclick: "alert('You need to create a company first.')" do %>
            View Job Listings
          <% end %>
          <%= link_to '#', class: 'list-group-item list-group-item-action', onclick: "alert('You need to create a company first.')" do %>
            Add Job Listing
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</nav>