<%= form_with(model: resume, local: true, class: "needs-validation", data: { turbo: false }) do |form| %>
  <% if resume.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
        <% resume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :professional_title, style: "display: block" %>
    <%= form.text_field :professional_title %>
  </div>

  <div>
    <%= form.label :profile_summary, style: "display: block" %>
    <%= form.text_area :profile_summary %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
