<div id="<%= dom_id resume %>">
  <p>
    <strong>Professional title:</strong>
    <%= resume.professional_title %>
  </p>

  <p>
    <strong>Profile summary:</strong>
    <%= resume.profile_summary %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= resume.location %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= resume.profile_id %>
  </p>

</div>
